<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />

	<% include ../_blocks/webicons_n_tiles %>
	<title><%- blocks.title %></title>
	<% include ../_blocks/cssBundle %>

	<% include ../_blocks/scriptBundles/clean_dependencies %>

	<!--  EJS Injection of Page Specific Script Loads  -->
	<%- blocks.PageScripts %>

</head>

<body>

	<%-body -%>

	<!--  EJS Injection of Any Page Specific Inline PageStartScript  -->
	<%- blocks.PageStartScript %>
</body>

</html>
