<ion-header-bar class="bar-stable">
	<h1 class="title">ToDo Options</h1>
</ion-header-bar>
<ion-content>
	<ion-list>
		<ion-item
					ng-show="true"
					ng-click="OnClick_NewToDo()">
			New ToDo
		</ion-item>
		<ion-item>
			<button class="button icon-left ion-log-out button-clear button-assertive" ng-click="Logout()">  Logout</button>
		</ion-item>
	</ion-list>
</ion-content>
