<% block('title', 'Template Index') %>

<% clean_block('PageScripts',
	'<script type="text/javascript" src="js/app.js"></script>\n' +
	'')
-%>


<% layout('_layouts/mainSite') -%>


	<div class="template title">
		Tal's Node Grunt Site Template
	</div>
	<div class="template title">
		Site index.html (Built from EJS)
	</div>

	<div style="font-size: 5rem;"><i class="icon icon_angularjs-original" style="font-size: 5rem;">&#xf102;</i> icon_angularjs-original Built from SVG Source.</div>
	<div>SVG from Devicon</div>
	<div style="font-size: 32px; margin-top: 20px;">
		<ul>
			<li>
				<a href='./images.html'>Image Formats</a>
			</li>
			<li>
				<a href='./scale9.html'>Scale 9 Testing</a>
			</li>
			<li>
				<a href='./scale9_no_normalize.html'>Scale 9 Testing - No Normalize</a>
			</li>
			<li>
				<a href='./ResponsiveTests.html'>Responsive Tests</a>
			</li>
			<li>
				<a href='./WaffleGridTest.html'>Waffle-Grid Test - No Hummingbird Support for calc()</a>
			</li>
		</ul>
	</div>

