
/*
 * _base_elements
 * ==============================================
 * Definition of Base HTML Elements Only
*/

html {
	font-size: 62.5%;
}

body{
	font-family: $FontBody;
	text-align: center; /* Hack for IE to center float the wrapper div */
	font-size: 2rem;
}

/* By Default Expand Block Elements to Fully Wrap their Content */
article, aside, details, div, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	overflow: hidden;
}

a {

}

p {
	margin: 0 0.6rem;
	padding: 0 0 1.4rem 0;
	font-family: $FontFam_Serif;

	// Links that specifically appear in Paragraphs
	a {
		text-decoration: none;
		color: inherit;
		color: $color_InlineLink;
	}
	a:hover {
		text-decoration: underline;
	}
}


img, object {
	border: 0;
	margin: 0 0.6rem;
	padding: 0;
	max-width: 100%;// Allow Scaling with the Display Space but Maintain Aspect Ratio
}


em {
	font-style: italic;
}


strong {
	font-weight: 600;
}


header {
	margin: 1rem 0.6rem;
	@include Type_MainHeader();
}

