
/*
 * _screen_size_defs
 * ============================================== 
 * Resolution and Media Break-Point Definitions
*/

// Reference Device Resolutions
// ==============================
// 
// Kindle Fire:									600 x 1024
// 
// iPad 1, 2 & Mini:						768 x 1024
// iPad 3 & 4:								1536 x 2048
// iPhone 1-3 & iPod Touch:						320 x 480
// iPhone 4-4S:									640 x 960
// iPhone 5:								640 x 1136
// 
// Common Low:									240 x 320


// Retina Display Media Query
// @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {


// Device Screen Width Scale-Points
$screenScalePoint_1: 240px;
$screenScalePoint_2: 320px;
$screenScalePoint_3: 600px;
$screenScalePoint_4: 640px;
$screenScalePoint_5: 768px;
$screenScalePoint_6: 992px;
$screenScalePoint_7: 1024px;
$screenScalePoint_8: 1536px;
$screenScalePoint_9: 2048px;


// Device Scale-Point ENUMs
$screenScalePoint_Min: $screenScalePoint_1;
$screenScalePoint_iPhone1: $screenScalePoint_2;
$screenScalePoint_KindleFire: $screenScalePoint_3;
$screenScalePoint_iPhone4: $screenScalePoint_4;
$screenScalePoint_iPad1: $screenScalePoint_5;
$screenScalePoint_OlderDesktop: $screenScalePoint_6;
$screenScalePoint_iPad_L: $screenScalePoint_7;
$screenScalePoint_iPad_3: $screenScalePoint_8;
$screenScalePoint_iPad_3_L: $screenScalePoint_9;
$screenScalePoint_Max: $screenScalePoint_9;


// Arg Values: Min, iPhone1, KindleFire, iPhone4, iPad1, OlderDesktop, iPad_Land, iPad3, iPad3_Land, Max

@mixin media-device-scale($media)
{
	@if $media == Max {
		@media only screen and (max-width: $screenScalePoint_Max + 1) { @content; }
	}
	@else if $media == iPad3_Land {
		@media only screen and (max-width: $screenScalePoint_iPad_3_L) { @content; }
	}
	@else if $media == iPad3 {
		@media only screen and (max-width: $screenScalePoint_iPad_3) { @content; }
	}
	@else if $media == iPad_Land {
		@media only screen and (max-width: $screenScalePoint_iPad_L) { @content; }
	}
	@else if $media == OlderDesktop {
		@media only screen and (max-width: $screenScalePoint_OlderDesktop) { @content; }
	}
	@else if $media == iPad1 {
		@media only screen and (max-width: $screenScalePoint_iPad1) { @content; }
	}
	@else if $media == iPhone4 {
		@media only screen and (max-width: $screenScalePoint_iPhone4) { @content; }
	}
	@else if $media == KindleFire {
		@media only screen and (max-width: $screenScalePoint_KindleFire) { @content; }
	}
	@else if $media == iPhone1 {
		@media only screen and (max-width: $screenScalePoint_iPhone1) { @content; }
	}
	@else {
		@media only screen and (max-width: $screenScalePoint_Min) { @content; }
	}
}


@mixin media-max-scale($invokePoint)
{
	@media only screen and (max-width: $invokePoint) { @content; }
}


#media-query-display:after {
		content: "@media Device Point: Unset";
}

@include media-device-scale(Max) {
	#media-query-display:after { content: "@media Device Point: Max"; }
}
@include media-device-scale(iPad3_Land) {
	#media-query-display:after { content: "@media Device Point: iPad3_Land"; }
}
@include media-device-scale(iPad3) {
	#media-query-display:after { content: "@media Device Point: iPad3"; }
}
@include media-device-scale(iPad_Land) {
	#media-query-display:after { content: "@media Device Point: iPad_Land"; }
}
@include media-device-scale(OlderDesktop) {
	#media-query-display:after { content: "@media Device Point: OlderDesktop"; }
}
@include media-device-scale(iPad1) {
	#media-query-display:after { content: "@media Device Point: iPad1"; }
}
@include media-device-scale(iPhone4) {
	#media-query-display:after { content: "@media Device Point: iPhone4"; }
}
@include media-device-scale(KindleFire) {
	#media-query-display:after { content: "@media Device Point: KindleFire"; }
}
@include media-device-scale(iPhone1) {
	#media-query-display:after { content: "@media Device Point: iPhone1"; }
}
@include media-device-scale(Min) {
	#media-query-display:after { content: "@media Device Point: Min"; }
}
